<h1>Sign In</h1>

<%= form_with url: session_path do |f| %>
  <div style="margin-bottom: 1rem;">
    <%= f.label :email_address %>
    <%= f.email_field :email_address, required: true, autocomplete: "email", value: params[:email_address], style: "display: block; width: 100%; padding: 0.4rem;" %>
  </div>

  <div style="margin-bottom: 1rem;">
    <%= f.label :password %>
    <%= f.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, style: "display: block; width: 100%; padding: 0.4rem;" %>
  </div>

  <%= f.submit "Sign in", style: "padding: 0.5rem 1rem;" %>
<% end %>

<p style="margin-top: 1rem;">No account? <%= link_to "Sign up", new_registration_path %></p>
<p><%= link_to "Forgot password?", new_password_path %></p>
